<!DOCTYPE html>
<html>
<head>
    <title>Node One</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <section class="herobanner">
        <div class="container">
            <h2>Highest Number <span id="Node One          Accepted Proposal(highest-number): "></span></h2>
        </div>
    </section>

    <section class="innerFormNumber">
        <div class="container">
            <div class="primary">
                <h3>Person Data</h3>
                <form id="person-form">
                    <div class="formInput">
                        <label for="name">Name:</label>
                        <span class="inNerInput">
                            <input type="text" id="name" name="name">
                            <button type="button" onclick="addPerson()">Add Person</button>
                        </span>
                        <span class="error-message" id="name-error"></span>
                    </div>
                    <div class="formInput">
                        <label for="name">Number:</label>
                        <span class="inNerInput">
                            <input type="number" id="number" name="number">
                            <button type="button" onclick="saveNumber()">Save Number Only</button>
                        </span>
                        <span class="error-message" id="number-error"></span>
                    </div>
                </form>
                <div class="datanocketList">
                    <h3>Person Name</h3>
                    <ul>
                        <li id="data-list"></li>
                    </ul>
                </div>                
            </div>
            <div class="secondarySidebar">
                <h3>Active Sockets</h3>
                <ul id="socket-list"></ul>
            </div>
        </div>
    </section>
    <!-- Include external JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
